@charset "utf-8";
/* CSS Document */

* {
	
	margin: 0px;
	padding: 0px
	
}

.uma-div {
	
	position: relative;
	width: 1920px;
	margin: 0px auto;
	height: 50px;
	background-color: #CB7A1F;
	
	
	
	
}
